:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --decor-color: #ff0070;
  --title-decor-color: #000028;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url("../images/cover-image-dark.png");
  --rec-display: flex;
}
