:root.theme-light {
  --bg-color: #e7e7e7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --focus-color: #ffc2e6;
  --title-decor-color: #000028;
  --bg-image: url('../images/cover-image-light.png');
}

.theme-light .page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
}

.theme-light .decorated-zone::before {
  border-block-start: 1px solid var(--text-color);
  border-inline-end: 1px solid var(--text-color);
}

.theme-light .decorated-zone::after {
  border-block-end: 1px solid var(--text-color);
  border-inline-start: 1px solid var(--text-color);
}

.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid color-mix(in srgb, var(--text-color) 40%, transparent);
}

.theme-light .header__theme-menu-button:focus-visible {
  outline: 1px solid var(--text-color);
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--text-color);
}

.theme-light .header__rec-badge {
  display: none;
}

.theme-light .content__section-title {
  color: var(--text-color);
}

.theme-light .title-decor {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #e7e7e7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-decor-color: #000028;
    --bg-image: url('../images/cover-image-light.png');
  }

  .page {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid color-mix(in srgb, var(--accent-color) 40%, transparent);
  }

  .header__theme-menu-button:focus-visible {
    outline: 1px solid var(--accent-color);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--accent-color);
  }

  .header__rec-badge {
    display: none;
  }
}