:root {
  /* Цвета */
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --focus-color: #db00ff;
  --title-decor-color: #000028;

  --bg-image: url('../images/cover-image-dark.png');

  --font-family: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
}